{% extends 'base.html' %}

{% block title %}Accueil{% endblock %}

{% block content %}
    <div class="container my-4">
        <h1 class="mb-4">Liste des annonces</h1>
        <div class="row">
            {% for annonce in annonces %}
                <div class="col-md-3">  <!-- 4 annonces par ligne -->
                    <div class="card mb-4" style="width: 18rem;">
                        {% if annonce.image %}
                            <div class="image-container" style="height: 200px; overflow: hidden;">
                                <img src="{{ annonce.image.url }}" class="card-img-top" alt="{{ annonce.titre }}" style="width: 100%; height: 100%; object-fit: cover;">
                            </div>
                        {% else %}
                            <div class="image-container" style="height: 200px; background: #f8f9fa; display: flex; align-items: center; justify-content: center;">
                                <p>Pas d'image</p>
                            </div>
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ annonce.titre }}</h5>
                            <p class="card-text"><strong>Prix :</strong> {{ annonce.prix|default:"Non spécifié" }} €</p>
                            <p class="card-text"><strong>Publié le :</strong> {{ annonce.date_publication|date:"d/m/Y H:i" }}</p>
                            <a href="{% url 'detail_annonce' annonce.id %}" class="btn btn-primary">Détail</a>
                        </div>
                    </div>
                </div>
            {% empty %}
                <p>Aucune annonce disponible.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}